
  @media screen and (max-width: 600px){
*{
  background-image:url("Assets/coolbackground.jpg");
  width:550px;
}
  }

* {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width:100%;
}
  

header{
background-image: linear-gradient(to bottom, rgba(48, 104, 161, 0.164), rgba(245, 254, 254, 0.048));
margin-bottom:15px;
}

nav {
  color:rgb(24, 18, 18);     
  display: flex;
  padding: 20px 30px 40px;
  flex-direction:row;
  justify-content: space-around;
  margin-bottom:-15px;
}

nav a{
  color: rgb(23, 29, 107);
  font-size:2.5rem;
  text-shadow: 5px 2px 5px rgb(255, 255, 255);
  font-weight:bold;

}
nav a:hover{
  background-color:rgba(41, 100, 128, 0.3);
  padding: 25px 20px
}

#Home{
background-image: linear-gradient( rgba(245, 245, 235, 0.082), rgba(48, 104, 161, 0.651), rgba(245, 245, 235, 0.219));
color:rgb(23, 29, 107);
  outline-color: aliceblue; 
display: flex; 
justify-content: center; 
align-items: center;
}

#Richia {
  clip-path: circle(40%)
}
  

#bio {
    text-align:left;
    font-size:3rem;
}

#About{
margin-top:-15px;
margin-bottom:20px;
font-size: 3rem;
padding-top:10px;
}

#About h1{
color:rgb(23, 29, 107);
text-decoration: wavy;
margin-left: 10px;
}

#About_Me_Header{
text-align: left;
padding-top: 20px;
color: rgb(23, 29, 107);
text-decoration: underline;
font-weight:bold;
margin-left: 10px;
font-size: 6rem;


}
#Education{
    color:rgb(23, 29, 107);
    text-align: left;
    font-size: 2rem;
    text-decoration: wavy;


}

#Education h1{
  font-size: 3rem;
color: rgb(23, 29, 107);
font-weight:bold;
margin-left: 10px;

  
}



#Table{
  border: 5px solid rgb(23, 29, 107);
  border-collapse:collapse;
margin:auto;
}

th,td{
    padding: 10px;
    text-align: center;

}


#Projects{
  display: flex;
  color:rgb(23, 29, 107);
  margin-top: -0.5px;
margin-bottom:20px;
background-image: linear-gradient( rgba(245, 245, 235, 0.027), rgba(48, 104, 161, 0.219), rgba(245, 245, 235, 0.219));
  padding-top: 40px;
  justify-content: center;
}

#Projects h1{
  padding: 180px 10px;
}
#Projects h3{
  text-align: center;
  font-size: 2.5rem;

}
#Projects h6{
  text-align: center;
  margin-top: 100px;
  font-size: 2.5rem;
}

.FITLINK{

margin-left: 48vh;
border-radius: 8px;
max-width:100%


}

.gear_icon{
margin-left: 80px;
margin-right: 80px; 
max-width: 100%;
border-radius: 8px;

}


.Contact_Container
{
background-color: rgb(224, 227, 233);
display: flex;
justify-content: center;
flex-direction:column;
outline-style: solid;
outline-color: white;
flex-wrap:wrap;
padding: 30px 30px;
color:rgb(23, 29, 107);
line-height: 50px;
margin:5% 25%;
}

#Contact h3{
font-size:4rem;  
font-weight: bolder;
color:rgb(23, 29, 107);
text-align: center;

}

#Contact h4{
font-size:2.5rem; 
font-weight: bolder; 
color:rgb(23, 29, 107);

}

fieldset {
  border: 1px solid #666; 
  padding: 1em; 
}

.ads{
  padding-top:2em;
}

button{
  margin-top:3rem;
  height: 5rem;
  width:15rem;
  color:rgb(23, 29, 107);

}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input[type="radio"] {
  width: 30px;  
  height: 30px;
}

input[type="checkbox"] {
  width: 30px;  
  height: 30px;
}
input[type=text] {
  width: 101%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=textarea] {
  width: 100%;
  height: 200px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#updates{
  text-align:center;
}

aside{
  font-size: 5rem;
  margin-left:30px;
  color:white;
  text-shadow: 0 2px 3px #15888b;
  text-transform: uppercase;
  text-align: center;
}
body{
  background-image:url("Assets/coolbackground.jpg");
  max-width:100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0; 
  padding: 0;
  background-size: 100% 100%; 
  opacity:0.65;

}

footer{
display:flex;
background-image: linear-gradient(to top, rgba(27, 63, 99, 0.452), rgba(245, 254, 254, 0.658));
align-items: flex-end; 
justify-content: center;

}





